.custom-input {
  width: 100%; 
  height: 2.75rem; 
  position: relative;
  background-color: var(--color-neutral-100);
  border-radius: 30px;
  outline: 1px solid var(--color-neutral-500); 
  outline-offset: -1px;
}

.custom-input:hover {
  outline: 1px solid var(--color-text); 
}

.custom-input:focus-within {
  outline: 1px solid var(--color-secondary);
}

.input-field:focus {
  outline: none;  
  color: var(--color-black);  
}

.custom-input .input-field:not(:placeholder-shown) {
  color: var(--color-black); 
}

.label-wrapper {
  position: absolute;
  left: 16px;
  top: -7px;
  height: 10px;
  padding: 2px;
  background-color: var(--color-neutral-100);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.label {
  line-height: 40px;
}

.input-field {
  position: absolute;
  left: 16px;
  top: 14px;
  background-color: transparent;
  border: none;
  color: var( --color-neutral-400);
  font-size: 12px;
  line-height: 1;
  width: calc(100% - 32px);
  outline: none;
  z-index: 1;
}
