.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}
.pt-24 {
    padding-top: 24px;
}

.pt-42{
    padding-top: 42px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.px16 {
    padding-left: 16px;
    padding-right: 16px;
}
.wraper {
    padding: 60px 16px 60px 16px;
}
.wraperDisplay {
    padding-top: 60px;
}

.wraperLegal {
    display: flex;
    display: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 60px;
}

.legalText {
    width: 196px;
}

.legalButton {
    display: flex;
    width: 164px;
    justify-content: flex-end;
    padding-top: 60px;
    padding-bottom: 60px;
}

.sliderContainer {
    max-width: 1164px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px) {

    h2 {
        padding-bottom: 24px;
    }
    .legalText {
        width: auto;
    }
    
    .legalButton {
        justify-content: center;
        margin: 0 auto;
    }
    
    .px16 {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 1170px;
        margin: 0 auto;
    }

    .wraperSection {
        padding-top: 42px;
    }

    .wraperDisplay {
        padding-top: 80px ;
    }

    .sliderWrapper {
        max-width: 1170px;
        margin: 24px auto 0 auto;
        padding: 0 16px;
    }

    .wraperTitle {
        max-width: 1170px;
        margin: 0 auto;
    }
    .chipContainer {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .wraperLegal {
        justify-content:center;
    }
    h2 {
        padding-bottom: 24px;
        margin-left: 0;
    }
    
    .legalButton {
        justify-content: center;
        margin: 0 auto;
    }
    
  .px16 {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 1170px;
        margin: 0 auto;
    }

    .wraperSection {
        padding-top: 42px;
        justify-content: center;
    }

    .wraperDisplay {
        padding-top: 80px ;
    }

    .wraper {
        padding: 42px 32px;
        max-width: 1168px;
        margin: 0 auto;
    }
     .sliderBenefits {
        height: 824px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        background-color:  var(--color-neutral-100);
        padding-top: 80px;
    }

    .wraperTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 772px;
        margin: 0 auto;
    }
}

/* Estilos para tablet y desktop (a partir de 768px) */
