.px16 {
    padding-left: 16px;
    padding-right: 16px;
}

.pt80 {
    padding-top: 80px;
}

.wraper {
    background-color: var( --color-neutral-100);
    padding: 60px 16px 60px 16px;
}
.wraperDisplay {
    padding-top: 60px;
}

.wraperLegal {
    display: flex;
    display: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 60px;
}

.legalText {
    width: 196px;
}

.legalButton {
    display: flex;
    width: 164px;
    justify-content: flex-end;
}

.faqWrapper {
    padding-top: 42px;
    padding-bottom: 42px;
    background-color: var(--color-neutral-100);
}


@media (min-width: 768px) {

    .legalText {
        width: auto;
    }
    .px16 {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 1170px;
        margin: 0 auto;
        padding-bottom: 0px !important;
    }

    .wraperSection {
        padding-top: 42px;
    }

    .wraperDisplay {
        padding-top: 80px ;
    }

    .sliderWrapper {
        max-width: 1170px;
        margin: 24px auto 150px auto;
        padding: 0 16px;
    }
}

@media (min-width: 1024px) {
    .wraperLegal {
        justify-content:center;
    }
 
  .px16 {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 1170px;
        margin: 0 auto;
    }

    .wraperSection {
        padding-top: 42px;
        justify-content: center;
    }

    .wraperDisplay {
        padding-top: 80px ;
    }

    .wraper {
        background-color: var( --color-neutral-100);
        padding: 42px 32px;
        max-width: 1168px;
        margin: 0 auto;
    }
    .pt80 {
        padding-top: 80px;
        padding-bottom: 0px;
    }
}

/* Estilos para tablet y desktop (a partir de 768px) */
