.wraperSwiper {
  padding-top: 42px;
  margin-left: 16px;
}

.flex {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 24px;
margin-top: 24px;
}

.flexStart {
justify-content: flex-start;
gap: 30px;
}

.spaceBetween {
justify-content: space-between;
}

.wraperSwiper {

margin-top: 24px;
}

@media (min-width: 768px)  {
.flex {
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
}

@media (min-width: 1200px) {
.flex {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
}
