.wrapperText {
    padding: 42px 16px 60px 16px;
}

.wrapperText h1 span {
    color: var(--color-secondary);
    font-weight: 500;
}

.wraperFeature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.carImage {
    height: auto;
    width: 100%;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.colorText {
    padding-top: 16px;
}
.colorImages {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.colorImage {
    width: 42px;
    height: 42px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 50%;
}

.colorImage:hover {
    border: 2px solid var(--color-primary);
    box-sizing: border-box;
}

.colorImage.selected {
    border: 2px solid var(--color-secondary);
    box-sizing: border-box;
    border-radius: 50%; 
}

.wraperSpecifications {
    background-color: var(--color-secondary);
    margin: 42px 16px;
    border-radius: 16px;
}

.contentSpecifications {
    padding: 42px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contentSpecifications > div {
    padding-top: 16px;
    border-top: 1px solid var(--color-neutral-200);
}

.contentSpecifications > div:first-child {
    border-top: none;
    padding-top: 0;
}

.contentSpecifications > div:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.specificationsTitle {
    padding-bottom: 10px;
}

@media (min-width: 768px) {
   .wrapperText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    padding-top: 42px;
   }


   .wraperTitle {
    width: 60%;
   }

   .wraperTitle h1 {
        font-size: 58px;
        line-height: 70px;
        font-weight: 500;
   }

   .contentText {
    width: 50%;
   }

   .wraperRow {
    display: flex;
    flex-direction: row;
    max-height: 605px;
    max-width: 1170px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 102px;
   }

   .colorText {
    padding-top: 42px;
    }
    .carImage {
        height: 330px;
        width: auto;
    }
    .wraperSpecifications {
        background-color: var(--color-secondary);
        margin: 0px 16px;
        border-radius: 16px;
    }
    .contentSpecifications {
        width: 573px;
    }
}