.card {
    width: 100%;
    width: 380px;
    height: 700px;
    overflow: hidden;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--color-neutral-100);
}

.wrapperImageText{
    padding: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.image {
    width: 305px;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

.info {
    padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.locationName {
    color: var(--color-secondary);
    margin: 0;
}

.buttonWrapper {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: auto;
}

.featuresList {
    padding: 0;
    margin: 0;
    flex: 1;
}

.featuresListLi {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 8px;
    padding-left: 0;
}

.bullet {
    color: var(--color-neutral-600);
    font-size: 1.5rem;
    line-height: 1;
}

@media (min-width: 768px) {
    .card {
      width: 373px;
      height: 700px;
      display: flex;       
      flex-direction: column;      
      padding-bottom: 12px;
    }
  
    .info {
      display: flex;
      flex-direction: column;
      height: 200px;
      text-align: center;
    }
    
  
    .buttonWrapper {
      display: flex !important;
      flex-direction: column !important;
      align-content: center !important;
      justify-content: center !important;
      margin: 0 auto;
    }

    .image {
      width: 332px;
      height: auto;
      object-fit: cover;
    }

    .featuresList {
      text-align: left;
      width: 300px;
      padding-left: 10px;
    }

     /* Primeros 3 (índices 0, 1, 2) */
     .card:nth-child(-n+3) {
      height: 600px !important;
    }
    /* Segundos 3 (índices 3, 4, 5) */
    .card:nth-child(n+4):nth-child(-n+6) {
      height: 580px !important;
    }
    /* Terceros 3 (índices 6, 7, 8) */
    .card:nth-child(n+7):nth-child(-n+9) {
      height: 700px !important;
    }
    
    
  }
  

  
  /* Desktop */
  @media (min-width: 1024px) {
    .card {
      min-height: 522px;
    }
    .featuresList {
      text-align: left;

    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .buttonWrapper {
      margin-top: auto;
    }
  }
  