.wraperBody {
    max-width: 972px;
    margin: 0 auto;
}

.sliderContainer {
    max-width: 1164px;
    margin: 0 auto;
    width: 100%;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}
.pt-24 {
    padding-top: 24px;
}

.pt-42{
    padding-top: 42px;
}

.pt-60 {
    padding-top: 60px;
}

.contentWrapper {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 769px) {
    .contentWrapper {
        padding-left: 80px;
        padding-right: 80px;
        margin: 0 auto;
        max-width: 1200px;
    }

    .textCenter {
        text-align: center;
    }

    .chipContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: center;
      margin-bottom: 24px;
      max-width: 1164px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
}