li {
  list-style: none;
  color: var(--color-primary);
}

.navbar {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.navbar .navLinkText {
  color: var(--color-primary);
}

/* Hover state */
.navbar .navLinkText:hover {
  opacity: 0.9;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.logo img {
  height: 40px;
}


.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}


.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  padding: 0.5rem 0;
}

.navLinks li a {
  text-decoration: none;
  color: var(--color-primary) !important;
}

.iconWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--color-primary);
}

.iconWrapperFirst{
  width: 130px !important;
}

.iconWrapperSecond{
  width: 115px !important;
}

.iconWrapperThird{
  width: 150px !important;
}

.desktop {
  display: flex;
  gap: 2rem;
}

.desktop .hasSubmenu {
  position: relative;
}

.desktop .submenu {
  position: absolute;
  top: 2.5rem;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}


.desktop .submenu li {
  padding: 0.5rem 1rem;
  color: var(--color-primary);
}

/* Estilos móviles */
.mobile {
  display: flex;
  flex-direction: column;
  background: white;
}

.submenu {
  padding-left: 1rem;
}

.hasSubmenu > button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: #1d1d1d;
}


.mobileOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 80vw;
  height: 100vh;
  background: white;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}


.navbar.isOpen .mobileOverlay {
  transform: translateX(0);
}


.overlayBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.navbar.isOpen .overlayBackdrop {
  opacity: 1;
  pointer-events: all;
}

 .wraperLink {
    border-top: 1px solid var(   --color-neutral-200);
    color: var(--color-primary);
    width: 100%;
  }


@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }


  .navbarContainer {
    justify-content: space-between;
 
  }

  .logo {
    order: 2;
    margin:  0 auto;
    align-items: center;
    padding-top: 12px;
  }

  .logo img {
  height: 24px;
  width: auto;
  }

  .hamburger {
    order: 1;
  }

  .desktop {
    display: none;

    
  }

  .navLinks {
  list-style: none;
  margin: 0;
}

  .wraperLink {
    border-top: 1px solid var(   --color-neutral-200);
    color: var(--color-primary);
    width: 100%;
  }

  .wraperLink > li {
    padding: 12px 24px;
    color: var(--color-primary);
  }

  .wraperLink > li > a {
    color: var(--color-primary);
  }

  .hasSubmenu {
  border-top: 1px solid var(--color-neutral-200);
  color: var(--color-primary);
  }

.hasSubmenu > button {
  padding: 12px 24px;
  color: var(--color-primary);
}

.hasSubmenu.active {
  background-color: #2563eb;
  color: white;
   padding-bottom: 0px;
}

.hasSubmenu.active > button {
  color: white;
  font-weight: 500;
}
.hasSubmenu.active > ul {
  background-color: var(--color-neutral-200);
  border-top: none;
   padding: 12px 24px;
}

.iconWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chevron-icon {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
svg.chevron-icon.rotated {
  transform: rotate(180deg);
}



}