/* FordProVehicleCard.css */
.card {
  width: 100%;
  width: 305px;
  max-width: 405px;
  height: 474px;
  max-width: 444px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  gap: 24px;
}

.image {
  height: auto;
  width: 100%;
}

.info {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 130px;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 768px) {
  .card {
    width: 373px;
    max-height: 510px;
    display: flex;       
    flex-direction: column;      
    padding-bottom: 12px;
  }

  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
  }
  

  .buttonWrapper {
    display: flex !important;
    flex-direction: column !important;
    align-content: center !important;
    justify-content: center !important;
    margin: 0 auto;
  }
  /* .buttonWrapper > :first-child {
    margin-left: 34px;
  } */
}
