/* Estilos base para mobile */
.footer {
  width: 100%;
  background-color: var(--color-primary);
  border-top: 3px solid var(--color-secondary);
}

.footerContainer {
  width: 100%;
  padding-top: 60px;
  margin: 0 auto;
  max-width: 1440px;
}

.backFooter {
  display: none;
}

.footerBottom {
  padding: 32px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.mobileFooter {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 40px;
}

.desktopFooter {
  display: none;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 300px;
  height: 30px;
}

.menuContainer {
  width: 100%;
  padding-top: 42px;
}

.menuSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid var(--color-secondary);
  cursor: pointer;
}

.activeMenuItem {
  border-bottom: none;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.toggleButton svg {
  stroke: var(--color-white) !important;
}

.chevron-icon {
  color: var(--color-white);
  transition: transform 0.3s ease-in-out;
}

.toggleIcon {
  width: 12px;
  height: 6px;
  background-color: var(--color-white);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.submenuOpen {
   max-height: 500px;
   opacity: 1;
}

.submenuContainer {
  padding-left: 16px;
  margin-left: -16px;
  padding-right: 16px;
}

.submenuItem {
  display: block;
  padding-top: 2px;
  padding-left: 16px;
  padding-bottom: 16px;
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: 14px;
  text-decoration: none;
}

.submenuItemLast {
  display: block;
  padding: 10px 0;
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid var(--color-secondary);
}

.socialSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mercadoLibre {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.mlIcon {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.socialIcon {
  width: 40px;
  height: 40px;
}

.socialIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 8px;
}

.fiscal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrightTerminosPoliticas {
   padding: 32px 0px;
   border-top: 1px solid var(--color-secondary);
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.terminosPoliticas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.terminosPoliticas a {
  color: var(--color-white);
  font-size: 14px;
  text-decoration: underline;
}

.legalLink {
  color: var(--color-white);
  text-decoration: underline;
}

.separator {
  color: var(--color-white);
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .copyrightTerminosPoliticas {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .footerBottom {
    padding: 32px 24px;
  }

  .legalLinks {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .mobileFooter {
    display: none;
  }
  
  .desktopFooter {
    display: block;
    padding-top: 80px;
    padding-bottom: 32px;
  }

  .copyrightTerminosPoliticas {
    margin-left: -128px;
    margin-right: -128px;
    padding-left: 128px;
    padding-right: 128px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
  }

  .terminosPoliticas {
    gap: 16px;
  }

  .footerTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    max-width: 1170px;
    margin: 0 auto;
  }

  .footerLogo {
    width: 175px;
    height: 68px;
  }

  .footerMenus {
    display: flex;
    gap: 120px;
  }

  .menuColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .socialColumn {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .backFooter {
    display: block;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-secondary);
  }

  .footerBottom {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    background-color: var(--color-primary);
  }

  .copyright {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
  }

  .legalLinks {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  .legalLink {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    white-space: nowrap;
  }

  .separator {
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
  }

  .menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 14px;
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
    min-width: 200px;
  }

  .submenuItem {
    display: block;
    padding: 10px 16px;
    color: var(--color-white);
    font-family: var(--font-primary);
    font-size: 14px;
    text-decoration: none;
    border-bottom: none;
  }

}
