.desktopContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}


@media (min-width: 1024px) {
    .desktopContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding-left: 140px;
    }
}
