h4, p {
    margin: 0px;
}

.card {
    width: 100%;
    max-height: 664px;
    max-width: 305px ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.image {
    height: 180px;
    width: auto;
    border-radius: 16px;
}

.buttonWrapper {
    margin-top: auto;
    display: flex;
    padding-left: 16px;
}

.wraperTitle {
    
    width: 273px;
    padding: 24px 16px 0px 16px;
}

.wraperText {
    width: 273px;
    padding: 8px 16px 0px 16px;
    margin-top: 0px;
}

.info {
    height: 380px;
    padding-bottom: 24px;
}